*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(46, 47, 58);
    background: linear-gradient(
      90deg,
      rgba(46, 47, 58, 1) 0%,
      rgba(93, 93, 93, 1) 50%,
      rgba(182, 182, 182, 1) 100%
    );
}
